body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    overflow: hidden;
    background-color: black;
    color: white;
}
div{
    margin: 4px;
    margin-bottom: 0;
}
.main{
    display: flex;
    height:100vh;
}

.sidebar{
    border-radius: 0.5rem;
    width: 28rem;
}

.nav{
    background-color:#121212;
    height: 6rem;
    border-radius: 0.5rem;
    padding: 0.7rem 0.75rem;
    font-weight: 600;
}

.nav_option{
    line-height: 40px;
    opacity: 0.5;
}
.nav_option a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-left: 1rem;
}

.nav_option i{
    font-size: 20px;
    padding: 0.5rem;
}

.content{
    background-color: #121212;
    flex:1;
    border-radius: 0.5rem;
    overflow: auto;
    padding: 1rem;
    padding-top: 0;
    appearance: none;
    scrollbar-width: 1rem;
    scrollbar-color: hsla(0,0%,100%,.3) transparent;
}

.player{
    position: fixed;
    bottom: 0;
    height: 5rem;
    background-color: black;
    width:100%
}

.nav_option:hover{
    opacity: 1;
    cursor: pointer;
}

.library{
    background-color: #121212;
    height: 100%;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    overflow: auto;
}

.lib-head{
    display: flex;
    align-items: center;
    margin: 0rem 1rem 0rem 1.5rem;
    justify-content: space-between;
}
.lib-options{
    display: flex;
    align-items: center;
    opacity: 0.5;
}
.lib-head img{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: 1rem;
}

.lib-icons i{
    margin: 0.5rem;
    font-size: 1.2rem;
    opacity: 0.5;
}

.lib-icons i:hover{
    opacity: 1;
    cursor: pointer;
}

.lib-options:hover{
    opacity: 1;
    cursor: pointer;
}

.box1{
    background-color: #232323;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 8rem;
    margin: 1rem 0.75rem;
    line-height: 2rem;
}

.box1-p1{
    font-weight: 700;
}

.box1-p2{
    opacity: 0.9;
}

.badge{
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    height: 2.5rem;
    width:10rem;
    font-weight: 700;
    margin-top: 0.6rem;
    transition: linear 0.5;
    border: none;
}

.badge:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px #313131;
}


.sticky-nav{
    position: sticky;
    top:0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background-color: #121212 ;
}

.sticky-nav-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

.sticky-nav-arrows{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-nav-arrows img{
    margin:0.5rem;
    height: 1.7rem;
    width: 1.7rem;
    opacity: 0.7;
}

.sticky-nav-arrows img:hover{
    opacity: 1;
}

.sticky-nav-icons button{
    margin:0.5rem;
}

#user{
    margin:0.5rem;
    margin-right: 1rem;
    margin-left: 0.75rem;

}

#upgrade{
    width: 8rem;
    height: 2.2rem;
}

#install{
    width: 9rem;
    height: 2rem;
    background-color: black;
    color: white;
}

#install i{
    margin-right:1rem;
}

#user:hover{
    transform: scale(1.03);
}
#install:hover{
    box-shadow: 2px 2px rgb(28, 28, 28);
}

h2{
    margin-left: 1rem;
}

.cards-container{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 1rem;
    justify-content: flex-start ;
    flex-wrap: wrap;

}

.card{
    background-color: #171717;
    border-radius: 0.5rem;
    width: 12em;
    margin: 1.2rem;
}

.card img{
    width: 10rem;
    margin: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.card div{
    margin-left: 1rem;
}

.card-title{
    font-weight:700;
    margin-top: 0;
}

.card-des{
    font-size:0.9rem;
    opacity: 0.9;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.card:hover{
    background-color: #1f1f1f;
}

.player{
    display: flex;
}
.player-playing{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.player-playing>img{
    margin: 1rem 1rem 1.3rem 0.5rem;
    width: 3.5rem;
    border-radius: 0.1rem;

}
.player-controls{
    width: 50%;
    height: 100%;
}

.player-menu{
    width:25%;
    height: 100%;
}

.playing-text a{
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 0.3rem;
}

#song-title{
    font-size:0.8rem;
    font-weight: 700;
}
#author{
    font-size:0.6rem;
    font-weight: 600;
    opacity:0.7;
}

.playing-text a:hover{
    opacity: 1;
    text-decoration: underline;
}
.playing-icons{
    display: flex;
}

.playing-icons img{
    width: 1.3rem;
    height: 1.3rem;
    margin:0.5rem;
    position: relative;
    bottom: 0.5rem;
    left: 1rem;
    opacity:0.7;
}

.playing-icons img:hover{
    opacity: 1;
}

.player-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-controls-icons img{
    position: relative;
    bottom: 0.8rem;
    width: 0.9rem;
    height: 0.9rem;
    margin: 0rem 0.5rem;
    opacity: 0.5;
}

#play-button{
    position: relative;
    top:-0.1rem;
    width:2.2rem;
    height:2.2rem;
    margin: 0rem 1rem;
    opacity: 1;
}

.player-controls-icons img:hover{
    opacity: 1;
}

#play-button:hover{
    transform: scale(1.1);
}

.player-bar{
    position: relative;
    bottom: 0.35rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

.player-bar span{
    position: relative;
    top:0.1rem;
}



.player-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player-menu img{
    height: 1.5rem;
    width: 1.5rem;
    color:white;
    margin: 0rem 0.25rem;
}

#img1{
    height: 1.8rem;
    width: 1.8rem;
}

#img2{
    height: 1.8rem;
    width: 1.8rem;
}

#img3{
    height: 1.3rem;
    width: 1.3rem;
    opacity: 0.7;
}

#img4{
    height: 0.9rem;
    width: 0.9rem;
    opacity: 0.7;
}

#img5{
    height: 2rem;
    width: 1.75rem;

}
.volume{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 0.3rem;
}

#img3:hover{
    opacity: 1;
}

#img4:hover{
    opacity: 1;
}

#vol{
    appearance: none;
    outline:none;
    width: 7rem;
    height: 0.25rem;
    background:linear-gradient(90deg,rgb(0,255,0)80%,#313131 80%);
    border-radius: 1rem;
}

#vol::-webkit-slider-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius:50%;
    background: white;
    cursor: pointer;
}

#vol::-moz-range-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius:50%;
    background: white;
    cursor: pointer;
}

#dur-bar{
    appearance: none;
    outline:none;
    width: 30rem;
    position: relative;
    height: 0.25rem;
    background:linear-gradient(90deg,rgb(0,255,0)80%,#313131 80%);
    border-radius: 1rem;
}

#dur-bar::-webkit-slider-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius:50%;
    background: white;
    cursor: pointer;
}

#dur-bar::-moz-range-thumb{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius:50%;
    background: white;
    cursor: pointer;
}

.footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 10rem;
    width: 100%;
}

.footer hr{
    width: 100%;
    position: relative;
    top:3rem;
    opacity: 0.2;
}

@media (max-width:1000px) {
    .hide{
        display: none;
    }
    .sidebar{
        width: 15rem;
    }
    .box1{
        height: 15rem;
    }
}