body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    overflow: hidden;
    background-color: black;
    color: white;
}
div{
    margin: 4px;
}
.main{
    display: flex;
    height:100vh;
}

.sidebar{
    border-radius: 0.5rem;
    width: 18rem;

}

.nav{
    background-color: #272727;
    height: 6rem;
    border-radius: 0.5rem;
    padding: 0.7rem 0.75rem;
    font-weight: 600;
}

.nav_option{
    line-height: 40px;
    opacity: 0.5;
}
.nav_option a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding-left: 1rem;
}

.nav_option i{
    font-size: 20px;
    padding: 0.5rem;
}

.content{
    background-color: #272727;
    flex:1;
    border-radius: 1rem;
    overflow: auto;
}

.player{
    position: fixed;
    bottom: 0;
    height: 72px;
    background-color: black;
    width:100%
}

.nav_option:hover{
    opacity: 1;
}